@CHARSET "utf-8";

body {
background-color: #888888;
margin:0;
padding:0;
font: 14px Arial,sans-serif;
line-height: 1.5;
}
table {border-collapse: collapse;}
ul {padding: 0; margin:0;}
ul li {list-style: none outside none;}
h1 {color: #555555; font-size: 22px; margin: 0 0 10px 0;}
h2 {color: #555555; font-size: 22px; margin: 5px 0 15px 0; padding: 0 0 12px 0; border-bottom: 3px dotted #5138BA;}
h3 {color: #555555; font-size: 18px; margin: 5px 0 10px 0; padding: 2px 0 5px 10px; border-bottom: 1px solid #e3e3e3; border-left: 10px solid #e3e3e3}
img {border-style:none;}
a img {border-style:none;}
p {margin:0; padding: 0;}
a {color: #4444ff;}
ul.error li {
color: #ff0000;
}



.header {
background: url("/static/images/header_back.png") repeat-x top left;
height: 77px;
text-align: center;
}

.header-inner{
width: 970px;
text-align: left;
margin: 0 auto;
}

.content {
background-color: #f3f3ff;
text-align: center;
}

.content-inner{
width: 970px;
text-align: left;
margin: 0 auto;
padding: 20px 0 20px 0;
}

.content-top {
clear: both;
padding: 0 0 10px 0;
}

.content-left {
float: left;
width: 700px;
}

.content-right {
float: right;
width: 260px;
}

.cbox1 {
background: #ffffff;
border: 1px solid #e1e1e1;
border-radius: 7px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
margin-bottom: 20px;
}

.cbox1 .inner {
padding: 10px;
}

.cbox1 .subject {
-webkit-border-top-left-radius: 7px;
-webkit-border-top-right-radius: 7px;
-moz-border-radius-topleft: 7px;
-moz-border-radius-topright: 7px;
background: #9FC748;
color: #ffffff;
padding: 7px 10px;
font-weight: bold;
}

.cbox1 .user-uid {
font-size: 22px;
padding: 0 0 5px 0;
}

.cbox1 .user-uid img{
vertical-align: middle;
padding: 0 ;
margin-bottom: 2px;
margin-right: 4px;

}

.cbox1 .user-uid a {
text-decoration: none;
}


.section {
margin-bottom: 30px;
}

.cms-desc {
padding: 10px 0 10px 0;
}

.cms-desc li {
list-style-type: disc;
list-style-position: inside;
}


.footer {
text-align: center;
}


.footer .footer-inner {
width: 970px;
padding: 10px 0;
text-align: left;
margin: 0 auto;
color: #ffffff;
}

.breadcrumb {

}

a.register {
display: block;
}

table.ginfo {
width: 100%;
}

table.ginfo th {
width: 1%;
white-space: nowrap;;
font-weight: normal;
}

table.ginfo td {
font-weight: bold;
}

table.ginfo {
width: 100%;
}

table.ginfo th {
width: 1%;
white-space: nowrap;;
font-weight: normal;
}

table.ginfo td {
font-weight: bold;
}

.form-register {
}

.form-register input[type="text"] {
width: 300px;
padding: 5px;
}

table.register-info {
width: 100%;
margin: 0 0 20px 0;
}


table.register-info td {
font-weight: normal;
padding: 5px 0;
}


.user-info .subject {
background: #5057F0;
}

.user-info .user-uid {
font-size: 22px;
padding: 0 0 5px 0;
}

.user-info .user-uid img{
vertical-align: middle;
padding: 0 ;
margin-bottom: 2px;
margin-right: 4px;

}
.user-info .user-uid a {
text-decoration: none;
}

.user-menu {
padding: 0 0 0 17px;
}

.user-menu li {
padding: 2px 0;
}

.user-menu .mail{
color: #888888;
}