@CHARSET "utf-8";

body {
background-color: #434343;
margin:0;
padding:0;
font: 14px Arial,sans-serif;
line-height: 1.5;
}

table {border-collapse: collapse;}
ul {padding: 0; margin:0;}
ul li {list-style: none outside none;}
h1 {
color: #555555;
font-size: 24px;
margin: 0 0 15px 0;
padding: 10px 0 10px 0;
border-bottom: 2px dotted #5138BA;}

h2 {
color: #555555;
font-size: 18px;
margin: 30px 0 10px 0;
padding: 2px 0 5px 10px;
border-bottom: 1px solid #e3e3e3;
border-left: 10px solid #e3e3e3}

img {border-style:none;}
a img {border-style:none;}
p {margin: 0px 0 10px 0; padding: 0;}
a {color: #4444ff;}
ul.error li {
color: #ff0000;
}

.container {
background: url("../images/common/back.png") repeat-x top left #ededed;
}

.header-wrap {
height: 137px;
text-align: center;
}
.header{
width: 960px;
text-align: left;
margin: 0 auto;
padding-top: 17px;
position: relative;
}

.header p.desc {
padding: 0;
margin: 0;
text-align: left;
color: #8A8989;
font-size: 12px;

}

.header .header-menu {
display: block;
position: absolute;
top: 20px;
right: 0px;

}

.header .header-menu li{
float: left;
height: 63px;
line-height: 63px;
padding: 0 15px 0 15px;
background: url('../images/common/headersep.png') top left no-repeat;
}

.header .header-menu li.last{
padding: 1px;
}

.content-wrap {
text-align: center;
}

.content{
width: 960px;
text-align: left;
margin: 0 auto;
padding: 20px 0 20px 0;
}

.content-top {
clear: both;
padding: 0 0 10px 0;
}

.content-left {
float: left;
width: 680px;
}

.content-right {
float: right;
width: 260px;
}


.cbox1 {
background: #ffffff;
border: 1px solid #e1e1e1;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
margin-bottom: 10px;
}

.cbox1 .inner {
padding: 20px 20px 30px 20px;
}

.cbox2 {
background: #ffffff;
border: 3px solid #e3e3ff;
margin-bottom: 10px;
}

.cbox2 .inner {
padding: 10px 20px;
}

.cbox2 h1 {
padding: 0;
margin: 0;
border-width: 0px;
}


.scbox1 {
background: #ffffff;
border: 1px solid #CAE7FF;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
margin-bottom: 10px;
}

.scbox1 .inner {
padding: 10px;
}



.scbox1 .subject {
color: #255F86;
padding: 0 0 3px 0;
margin: 0 0 10px 0;
border-bottom: 1px solid #e1e1e1;
font-weight: bold;
}

.scbox1 .user-uid {
padding: 0 0 5px 0;
}

.scbox1 .user-uid img{
vertical-align: middle;
padding: 0 ;
margin-bottom: 2px;
margin-right: 4px;

}

.scbox1 .user-uid a {
text-decoration: none;
}

.prev {
text-align: left;
float: left;
width: 300px;
margin-bottom: 20px;
}

.next {
text-align: right;
float: right;
width: 300px;
margin-bottom: 20px;
}


.cms-desc {
padding: 10px 0 10px 0;
}

.cms-desc li {
list-style-type: disc;
list-style-position: inside;
}


.footer-wrap {
text-align: center;
}


.footer {
width: 960px;
padding: 10px 0;
text-align: left;
margin: 0 auto;
color: #ffffff;
}

.footer a{
color: #9999ff;
}

.breadcrumb {

}

a.register {
display: block;
}

table.ginfo {
width: 100%;
}

table.ginfo th {
width: 1%;
white-space: nowrap;;
font-weight: normal;
}

table.ginfo td {
font-weight: bold;
}

table.ginfo {
width: 100%;
}

table.ginfo th {
width: 1%;
white-space: nowrap;;
font-weight: normal;
}

table.ginfo td {
font-weight: bold;
}

.form-register {
}

.form-register input[type="text"] {
width: 300px;
padding: 5px;
}

table.register-info {
width: 100%;
margin: 0 0 20px 0;
}


table.register-info td {
font-weight: normal;
padding: 5px 0;
}



.user-menu {
padding: 0;
}

.user-menu li {
padding: 2px 0;
list-style: inside disc;
}

.user-menu .mail{
color: #888888;
}